@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: abyss --default, emerald, cupcake, garden, forest, fantasy, black, luxury, dracula, autumn, lemonade, coffee, dim, nord
}